Used to generate processed train and test csvs

In [1]:
import xgboost
from xgboost import XGBRegressor, XGBClassifier

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_log_error, r2_score, mean_squared_error

from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
from category_encoders import MEstimateEncoder, TargetEncoder
from sklearn.inspection import permutation_importance

import seaborn as sns
import shap

from utils import get_na_cols, process_train, process, params2, categorical_cols, one_hot_cols, target_encoding_cols, ordinal_cols, useless_cols, numeric_cols

Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)

In [2]:
output_path = 'output/'

In [3]:
train_df = pd.read_csv('../Dataset/train.csv/train.csv')

processed_df, oe, te = process_train(train_df)

processed_df.to_csv(f'{output_path}/processed_train.csv', index=False)

X = processed_df.drop(['price_doc'], axis=1)
y = processed_df['price_doc']

is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead

In [4]:
processed_df.shape

(27343, 41)

In [5]:
processed_df = processed_df[processed_df['full_sq'] > processed_df['life_sq']]
processed_df

,full_sq,life_sq,floor,max_floor,build_year,num_room,kitch_sq,state,metro_min_avto,metro_km_avto,...,sport_count_3000,office_sqm_5000,cafe_count_5000_na_price,cafe_count_5000_price_2500,cafe_count_5000_price_high,year,month,product_type_Investment,sub_area_te,price_doc
0,43,27.000000,4.0,17.0,1879,1.909844,6.399244,1.0,2.590241,1.131260,...,21,807385,12,9,0,2011,7.0,1,6.691940e+06,5850000
1,34,19.000000,3.0,17.0,1879,1.909844,6.399244,1.0,0.936700,0.647337,...,19,2690465,9,15,0,2011,7.0,1,8.393067e+06,6000000
2,43,29.000000,2.0,17.0,1879,1.909844,6.399244,1.0,2.120999,1.637996,...,20,1478160,10,10,0,2011,7.0,1,6.563562e+06,5700000
3,89,50.000000,9.0,17.0,1879,1.909844,6.399244,1.0,1.489049,0.984537,...,18,244166,4,11,1,2011,8.0,1,8.973313e+06,13100000
5,67,46.000000,14.0,17.0,1879,1.909844,6.399244,1.0,2.735884,1.593246,...,31,4274339,35,62,1,2011,8.0,1,6.045373e+06,9100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,44,27.000000,7.0,9.0,1975,2.000000,6.000000,2.0,1.384021,0.659002,...,29,838601,18,15,0,2015,5.0,1,7.165733e+06,7400000
30467,86,59.000000,3.0,9.0,1935,4.000000,10.000000,2.0,1.060577,0.781217,...,80,9949843,136,313,24,2015,5.0,1,7.576430e+06,25000000
30468,45,34.404467,10.0,20.0,1879,1.000000,1.000000,0.0,2.152792,1.722233,...,6,117300,1,1,0,2015,5.0,0,6.233537e+06,6970959
30469,64,32.000000,5.0,15.0,2003,2.000000,11.000000,1.0,3.377814,2.047312,...,33,1225712,11,22,1,2015,5.0,1,1.311578e+07,13500000
30470,43,28.000000,1.0,9.0,1968,2.000000,6.000000,1.0,0.584636,0.454650,...,26,351244,3,5,0,2015,5.0,1,6.195499e+06,5600000

In [6]:
test_df = pd.read_csv('../Dataset/test.csv/test.csv')
processed_test_df = process(test_df, te, oe)
processed_test_df.to_csv(f'{output_path}/processed_test.csv', index=False)

price_doc not found

is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead