In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.read_csv('./clean data/best_output_0.31010.csv')
s2 = pd.read_csv('./output/lgbm_pred_best_0.31166.csv')

In [3]:
subm = pd.read_csv('../../Dataset/sample_submission.csv/sample_submission.csv')
subm['price_doc'] = 0.58*s1['price_doc'].values+0.42*s2['price_doc'].values
subm.to_csv('./clean data/combined_models.csv',index=False)
subm.head()

      id     price_doc
0  30474  5.512166e+06
1  30475  8.027246e+06
2  30476  5.270612e+06
3  30477  6.122746e+06
4  30478  4.908541e+06